{{ form_start(form) }}
{{ form_widget(form) }}
<div class="text-right">
	<button class="btn boton02"><img src="../../assets/images/icons8-save-close-48.png" class='icon_tools'>{{ button_label|default('Grabar') }}</button>

</div>

{{ form_end(form) }}
