{{ form_start(form) }}
{{ form_widget(form) }}
<div class="text-right">
	<button class="btn btn-ligth"><img src="../../assets/images/icons8-save-close-48.png" class='icon_tools'></button>
</div>

{{ form_end(form) }}
