{% extends 'base_admin.html.twig' %}
{% block title %}
	{{ titlePage }}
{% endblock %}
{% block body %}
	<div class="container">
		<img class="image-fluid" src='../../public/assets/images/bmdistrito2.png'>
	</div>
{% endblock %}
