{% extends 'base.html.twig' %}

{% block title %}Entrada la Sistema!
{% endblock %}

{% block body %}
	<div class="container-fluid">
		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		{% if app.user %}
			<div class="mb-3">
				Usted se encuentra identificado como
				{{ app.user.username }},
				<a href="{{ path('app_logout') }}">Salir</a>
			</div>
		{% endif %}
		<div class="row ">
			<div class="col-12 col-md-6 col-lg-6">
				<img src="../assets/images/bmdistrito2.png" class='div_login'>
			</div>

			<div classs="col-12 col-sm-10 col-md-8 col-lg-4 offset-sm-1 offset-md-2 offset-lg-1" align='center'>
				<h1>Módulos Habilitados</h1>
			</div>
		</div>
	</div>
{% endblock %}
