{% extends 'base_admin.html.twig' %}

{% block title %}
	{{ pageTitle }}
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="row ">
			<div class="col-12 col-md-12 col-lg-12 text-center">
				<h1>Modulos Habilitados</h1>
			</div>
		</div>
		<div align='center'>
			<div class="row text-center">
				<div class="col-12 col-md-1 col-lg-1">
					<div class="card-body"><img src='{{ doc_launcher }}'><br>{{ title_doc_launcher }}</div>

				</div>
				<div class="col-12 col-md-1 col-lg-1">
					<div class="card-body"><img src='{{ doc_launcher }}'></div>
				</div>


			</div>
		</div>
	</div>
{% endblock %}
