{% extends 'base_admin.html.twig' %}
{% block title %}
	{{ titlePage }}
{% endblock %}
{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-2 col-lg-2"></div>
		</div>

	</div>
{% endblock %}
