{% extends 'base_admin.html.twig' %}
{% block title %}
	{{ titlePage }}
{% endblock %}
{% block body %}
	<div class="container">
		<img class="img-fluid" src='{{ imagenFondo }}'>

	</div>
{% endblock %}
