{% extends 'base_admin.html.twig' %}

{% block title %}Entrada la Sistema!
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 col-md-12 col-lg-12 text-left">
				<img src="{{ logo }}">
			</div>
		</div>
		<div class="row">
			<div classs="col-12 col-md-12 col-lg-12 text-center" style='background-color:#c1c1c1'>
				<h2 align='center'>Módulos Habilitados</h2>
				<hr>
			</div>
		</div>
	</div>
{% endblock %}
