{% extends 'base_admin.html.twig' %}
{% block title %}
	{{ titlePage }}
{% endblock %}
{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-2 col-lg-2">
				<a href='{{ iconos["usuarios"]["url"] }}' style="text-decoration:none !important">
					<img src='{{ iconos["usuarios"]["icon"] }}'></a>


			</div>
		</div>

	</div>
{% endblock %}
